<h1 class="headHeight">AMAZING QUOTES</h1>
<hr>
<div class="container-flex content">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuotes($event)"></app-quote-form>
  </div>
</div>

<div *ngFor='let quote of quotes;let i=index' class="style">
  <li>{{quote.name}} done on {{quote.compeleteDate|date}}</li>
  <button class="btn" (click)='toggleDetails(i)'>show me </button>
  <button class="btn btn-primary" (click)='upvote(i)'>
    <i class="fa fa-thumbs-up fa-2x"></i>
  </button>{{quote.upvotes}}
  <button class="btn btn-danger" (click)='downvote(i)'>
    <i class="fa fa-thumbs-down fa-2x"></i>
  </button>{{quote.downvotes}}
  <app-quote-details *ngIf=quote.showDescription [myQuotes]='quote' (isCompelete)='compeleteGoal($event,i)'></app-quote-details>
</div>
<br><br>
