<h1 class="headHeight">AMAZING QUOTES</h1>
<hr>
<div class="container-flex content">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuotes($event)"></app-quote-form>
  </div>
</div>

  <div *ngFor='let quote of quotes;let i=index'>
    <li>{{quote.name}} done on {{quote.compeleteDate|date}}</li>
    <button (click)='toggleDetails(i)'>show more</button>
    <button class="btn btn-primary" (click)='upvote()'>upvote</button>{{quote.upvotes}}
    <button class="btn btn-danger" (click)='downvote()'>downvote</button>{{quote.downvotes}}
    <app-quote-details *ngIf=quote.showDescripton [quotes]='quote' (isCompelete)='compeleteGoal($event,i)'></app-quote-details>
      

</div>

