<body-style ="background-image:url (./assets/image.jpg)">
<h1>AMAZING QUOTES</h1>
<hr>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
<ul>
  <div *ngFor='let quote of quotes'>
    <li>{{quote.name}}</li>
    <button class="btn btn-primary" (click)='upvote()'>upvote</button>{{quote.upvote}}
    <button class="btn btn-danger" (click)='downvote()'>downvote</button>{{quote.downvote}}
    <app-quote-details [quotes]='quote'></app-quote-details>

  </div>

</ul>
</body-style>