<div class="container-fluid">
  <div class="row">
    <form  (ngSubmit)="submitQuote(quoteForm)" #quoteForm = 'ngForm' id="quoteFrm">
      <!-- quote form -->
      <div class="form-group">
        <label for="name">Quote</label>
        <input type="text" required class="form-control" id="name"   name="name" ngModel>
            <!--Testing  to see if we get data-->
                <!-- Display {{newQuote.quote}} -->
          <!-- <div [hidden]="name.valid||name.Pristine">
          <P>QUOTE IS REQUIRED</P>
          </div> -->
          </div>
          <!-- AUTHOR INPUT -->
          <div class="form-group">
      <label for="author">author</label>
       <input type="text"  class="form-control" id="author"  name="author" ngModel>
      </div>
       <div class="row"></div>
        <button type="submit" class="btn btn-danger btn-md">ADD QUOTE</button>
    </form>
  </div>
</div>